.app {
   height: 100vh;
   /* line text side by side */
   display: flex;

   background-color: #020230;
   /* text color */
   color: white;
}

.main {
  width: 75%;
  background-color: red;

}

.pyramid {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: green;
}
